{% extends 'base.html' %}
{% load static %}

{% block page_title %}Task List{% endblock %}
{% block styles %}{% endblock %}
{% block main %}
    <img src="{% static 'img/something.png' %}" alt="">
    {% if request.user.is_authenticated %}
            <h1>Hello {{ request.user.username }}</h1>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
            
        {% else %}
            <h1>Hello world</h1>
            <a href="{% url 'login' %}">LOGIN</a>
        {% endif %}
        
        <ul>
            {% for task in object_list %}
                <li>
                    <a href="{{ task.get_absolute_url }}">
                        {{task.name}}
                    </a>
                </li>
            {% endfor %}
        </ul>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_div }}
            <button type="submit">Submit</button>
        </form>
{% endblock %}
{% block scripts %}{% endblock %}
<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task List</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    
</body>
</html>